@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    padding: 20px 50px;
}

.wrapper .title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.wrapper p {
    text-align: justify;
    padding-bottom: 20px;
}

.counter-up{
    background: url("download1.jpg");
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-size: cover;
    background-attachment: fixed;
}

.counter-up::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100px;
    background: rgba(0,0,0,0.8);
}

.counter-up .content{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.content .box{
    width: calc(25% - 30px);
    border: 1px dashed #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    flex-direction: column;
}

.content .box .icon{
    font-size: 50px;
    color: #e6e6e6 ;
}

.content .box .counter{
    font-size: 50px;
    color: #f2f2f2 ;
    font-weight: 500;
    font-family: sans-serif;
}

.content .box .text{
    color: #ccc;
    font-weight: 400;

}